body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(225deg, #e50675, #e21b25);
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.team {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team .position {
    margin-right: 10px;
}

.team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.team h2 {
    margin: 0;
    font-size: 1em;
}

.team stats {
    font-size: 0.7em;
}

.team p {
    margin: 0;
    font-size: 1em;
}

.team-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.team-details div {
    display: flex;
    align-items: center;
}

.team-details div p {
    margin: 0;
    font-size: 1em;
    margin-left: 10px;
}

.team-name {
    margin-right: 40px;
}

.team-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.team:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.player-list {
    list-style-type: none;
    padding: 0;
}

.team-player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-logo {
    width: 70px;
    height: 63px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-details {
    flex: 1;
}

nav {
    background-color: #1E1E1E;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header h1 {
    color: #333;
}

footer {
    background: linear-gradient(225deg, #e50675, #e21b25);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    color: #FFFFFF;
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
    display: block;
    margin: 0 auto 10px;
}

.gold {
    background: linear-gradient(45deg, #FFD700, #FFA500);
}

.silver {
    background: linear-gradient(45deg, #C0C0C0, #A9A9A9);
}

.bronze {
    background: linear-gradient(45deg, #CD7F32, #D2691E);
}

.team-player.eliminated::before {
    content: '\00D7';
    color: red;
    font-size: 20px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .team img {
        display: none;
    }
}

#teamDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team-details {
    text-align: center;
    width: 100%;
}

.player-list {
    flex: 1;
    margin-right: 20px;
}

.chart-container {
    width: 100%;
    max-width: 600px;  /* Imposta la larghezza massima desiderata per il grafico */
    height: 400px;     /* Imposta l'altezza desiderata per il grafico */
    box-sizing: border-box;
    margin: 20px 0;
}

/* Aggiungi media query per adattare il layout in base alla larghezza dello schermo */
@media (max-width: 768px) {
    #teamDetail {
        flex-direction: column;
    }

    .player-list {
        margin-right: 0;
    }
}
